.thanks {
    @include flexLeftC;
    justify-content: flex-start;
    overflow-y: hidden;
    position: relative;
}

.thanks-container {
    @include pageH1P14;
    padding: $size-44 $size-32;
    width: 100%;
    // top-bottom logo + size logo
    margin-top: calc(2rem + 1.875rem) ;
}

.thanks-contact {
    @include pageH1P14;
    padding: $size-44 $size-32;
    position: absolute;
    left: 0;
    bottom: 0;
    a {
        text-decoration: none;
        color: $primary-color-W;
    }
}