.input {
    @include flexLeftR;
    @include padding;
    @include borderRadius;
    background-color: $primary-color-C;
    border: $size-2 solid $primary-color-W;
    color: $primary-color-W;
    width: 100%;
}

.input::placeholder {
    color: $secondary-color-W80;
    font-size: $size-12;
    font-weight: $fw-regular;
}

.input:focus {
    outline: none;
    background-color: $secondary-color-W16;
}